/**
 * @since 		1.0.0
 * @package		Simplified_Ecommerce
**/

.simp_ec_container 
{

}

.simp_ec_container h1
{
	padding-bottom: 10px;
}

.simp_ec_container form.simp_ec_form
{
	display: initial;
}


.simp_ec_table_view .simp_ec_textarea, 
.simp_ec_list_view .simp_ec_textarea,
.simp_ec_add_single_product .simp_ec_textarea
{
	width: 100%; 
	resize: none; 
	height: 70px;
}

.simp_ec_list_view .simp_ec_btn_submit
{
	float:right; 
	margin-top: 15px;
}