/**
 * @since 		1.0.0
 * @package		Simplified_Ecommerce
**/
.simp_ec_container h1 {
  padding-bottom: 10px; }

.simp_ec_container form.simp_ec_form {
  display: initial; }

.simp_ec_container .simp_ec_table_update .simp_ec_row_update .simp_ec_column_update,
.widefat .simp_ec_row_update .simp_ec_column_update,
.simp_ec_table_view .simp_ec_row_insert .simp_ec_column_insert {
  padding: 1px !important;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1; }

.simp_ec_container .simp_ec_table_update .simp_ec_row_update .simp_ec_column_update .simp_ec_textarea,
.simp_ec_container .simp_ec_table_update .simp_ec_row_update .simp_ec_column_update .simp_ec_input_number,
.simp_ec_table_view .simp_ec_row_insert .simp_ec_column_insert .simp_ec_textarea {
  width: 100%;
  resize: none;
  border: 0px solid #ddd;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.07);
  font-size: 13px; }

.simp_ec_container .simp_ec_table_update .simp_ec_row_update .simp_ec_column_update .simp_ec_input_number,
.simp_ec_table_view .simp_ec_row_insert .simp_ec_column_insert .simp_ec_input_number {
  height: 50px;
  width: 100%;
  border: none; }

thead .table_head_sku {
  width: 90px; }

thead .table_head_price {
  width: 60px; }

thead .column_delete {
  width: 30px; }

.simp_ec_container form .simp_ec_btn_delete {
  -webkit-box-shadow: 0 0px 0 #ccc;
  box-shadow: 0 0px 0 #ccc;
  line-height: 0px;
  border-width: 0px;
  background: none;
  color: #0073aa; }

.simp_ec_list_view .simp_ec_textarea,
.simp_ec_add_single_product .simp_ec_textarea {
  width: 100%;
  resize: none;
  height: 50px; }

.simp_ec_list_view .simp_ec_btn_submit,
.simp_ec_btn_submit {
  float: right;
  margin-top: 15px !important; }

.simp_ec_table_view .simp_ec_column_insert select,
.simp_ec_table_update .simp_ec_column_update select {
  width: 100%;
  height: 50px; }

/*
*
* Shop Template
*
*/
.simp_ec_shop_template .simp_ec_product {
  padding-bottom: 15px;
  display: block; }

.simp_ec_shop_template .simp_ec_product_desc {
  display: block; }

.simp_ec_shop_template .simp_ec_product_sku {
  padding-right: 10px; }
